[submodule "src/RoboDodd.OrmLite"]
	path = src/RoboDodd.OrmLite
	url = https://github.com/timothydodd/RoboDodd.OrmLite.git
[submodule "src/MailVoidWeb/src/rd-ui"]
	path = src/MailVoidWeb/src/rd-ui
	url = https://github.com/timothydodd/rd-ui.git
