:host {
  display: flex;
  flex-direction: column;

  .list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 5px;
  }

  .borderless-menu {
    margin-left: auto;
  }

  .btn-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}