.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 70px;
    right: 10px;
    width: 300px;
    padding: 20px;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 20px var(--dropdown-shadow);
    z-index: 1000;
    border-radius: 8px;
    
    button {
        width: 100%;
        text-align: left;
        padding: 10px;
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 16px;
        color: #333;
        color: var(--orange);

        &:hover {
            border: 1px solid var(--primary);
            color: var(--primary);
        }

        &.active-link {
            background-color: var(--primary);
            color: white;
        }
    } }