  .p-component {
      font-family: var(--font-family);
      font-feature-settings: var(--font-feature-settings, normal);
      font-size: 1rem;
      font-weight: normal;
      outline: none;
      background-color: unset;
      border: unset;
  }

  .p-component-overlay {
      background-color: var(--purple);
      transition-duration: 0.15s;
  }

  .p-disabled,
  .p-component:disabled {
      opacity: 0.65;
  }

  .p-input-switch {
      position: relative;
      display: inline-block;
      user-select: none;
  }

  .p-input-switch-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid transparent;
  }

  .p-input-switch-slider:before {
      position: absolute;
      content: '';
      top: 50%;
  }

  .p-input-switch {
      width: 3rem;
      height: 1.75rem;
  }

  .p-input-switch .p-input-switch-slider {
      background: var(--controlBG);
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
      border-radius: 30px;
  }

  .p-input-switch .p-input-switch-slider:before {
      background: var(--gray);
      width: 1.25rem;
      height: 1.25rem;
      left: 0.25rem;
      margin-top: -0.625rem;
      border-radius: 50%;
      transition-duration: 0.2s;
  }

  .p-input-switch.p-input-switch-checked .p-input-switch-slider:before {
      transform: translateX(1.25rem);
  }

  .p-input-switch.p-focus .p-input-switch-slider {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2rem rgba($color: var(--purple-rgb), $alpha: 0.5);
      ;
  }

  .p-input-switch:not(.p-disabled):hover .p-input-switch-slider {
      background: var(--foreground);

  }

  .p-input-switch.p-input-switch-checked .p-input-switch-slider {
      background: var(--darkGreen);
  }

  .p-input-switch.p-input-switch-checked .p-input-switch-slider:before {
      background: var(--controlBG);
  }

  .p-input-switch.p-input-switch-checked:not(.p-disabled):hover .p-input-switch-slider {
      background: var(--foreground);
  }

  p-input-switch.ng-dirty.ng-invalid>.p-input-switch>.p-input-switch-slider {
      border-color: var(--orange);
  }