.container {
    gap: 20px;

    .left-side {
        display: flex;
        flex-direction: column;
        min-width: 10%;
        max-width: 30%;
        overflow-x: hidden;

    }

    .right-side {
        display: flex;
        flex-direction: column;
        min-width: 70%;
        overflow-x: hidden;
    }
}

.tool-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 10px;
}