<div class="container d-flex flex-column flex-grow-1">
    <div class="row">
        <div class="col-md-3">
            <h3>Mailboxes</h3>
            <ul class="list-group">
                @if(mailboxes())
                {
                @for (item of mailboxes(); track item)
                {
                <li class="list-group-item">
                    <button class="btn btn-link" (click)="clickBox(item)">{{item}}</button>
                </li>
                }
                }
            </ul>
        </div>
        <div class="col-md-9">
            <h3>Emails</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Subject</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                    @if(emails())
                    {
                    @for(email of emails(); track email.id)
                    {
                    <tr>
                        <td>{{email.from}}</td>
                        <td>{{email.to}}</td>
                        <td>
                            <a class="btn-link" (click)="clickMail(email)">{{email.subject}}</a>
                        </td>
                        <td>{{email.createdOn | date:'short'}}</td>

                    </tr>
                    }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>