@if (!!mail()) {
  <div class="container flex-grow flex-column">
    <div class="section-card flex-grow flex-column">
      <div class="section-header">
        <h2>Email Details</h2>
        <strong>From:</strong> {{ mail()?.from }} <strong>To:</strong> {{ mail()?.to }} <strong>Subject:</strong
        >{{ mail()?.subject }} <strong>Sent On:</strong> {{ mail()?.createdOn | date: 'short' }}
      </div>
      <div class="section-body flex-grow">
        @if (mail()?.isHtml) {
          <iframe #emailContent style="width: 100%; height: 100%; border: none"> </iframe>
        } @else {
          <div class="email-content" style="white-space: pre-wrap">{{ mail()?.text }}</div>
        }
      </div>
    </div>
  </div>
}
